*{box-sizing: border-box;}
body{
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background: #bbe9ff;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container{
  background: rgb(124, 155, 255);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
}
.copy-text{
  border: 2px solid rgb(17, 17, 17);
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 600;
  height: 350px;
  width: 800px;
  margin-bottom: 20px;
  font-family: inherit;
  border-radius: 2px;
}
.copy-btn{
  padding: 12px 32px;
  border: 0px;
  border-radius: 10px;
  background: #001797;
  color: white;
  width: 120px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
}
.copied{background: #00945e;transition: 0.5s;}
